[submodule "gRPC CRUD"]
	path = gRPC CRUD
	url = https://github.com/reyhanqb/pemrograman-integratif.git
[submodule "pemrograman-integratif"]
	path = pemrograman-integratif
	url = https://github.com/reyhanqb/pemrograman-integratif.git
